<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.phonegap.gestsat"
        versionCode="10"
        version="1.0.0">
<name>GestSAT</name>
    <description>App para gestión</description>
    <author> CodeUnic</author>
</widget>